* {
  margin: 0;
  padding: 0;
  /* background-color: rgb(173, 117, 173); */
}
:root {
  --background-color: #fcf3dd;
  color: #fcf2dd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #fcf3dd; /* Dark mode background color */
    color: #fcf2dd;
  }
}
.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

body {
  background-color: #fcf2dd;
  color: #fcf2dd;
  font-family: "Open Sans", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
}
.bg-video {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
}
.bg-video-mobile {
  display: none;
}
/* .bg-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
} */

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coming-soon-img-title {
  /* display: absolute; */
  /* display: flex; */
  /* top: 90vh; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; */
}
.top-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16vh;
}
.company-title {
  font-size: 20px;
  color: #fcf3dd;
  letter-spacing: 5px;
  margin-top: 4.5vh;
  font-weight: bold;
  letter-spacing: 6px;
}
.coming-soon-img {
  width: 40vw; /* Adjust to your desired width */
  height: 25vh; /* Adjust to your desired height */
  overflow: hidden; /* Hide overflow content */
  position: relative;
  display: none;
}
.coming-soon-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  /* position: absolute; */
  /* top:10vh; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}
.subscribe-content {
  display: flex;
  flex-direction: column;
  width: 95vw;
  justify-content: flex-end;
  margin-bottom: 12vh;
  margin-left: 3vw;
  z-index: 2;
}
.subscribe-title {
  font-size: 57px;
  color: #fcf3dd;
}
.subscribe-now-txt {
  color: #fcf3dd;
  font-size: 20px;
  margin-top: 5px;
}
.subscribe-btn-container {
  margin-top: 10px;
}
.subscribe-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #f0f0f0;
  cursor: pointer;
  border: none;
}
.subscribe-btn:hover {
  transform: scale(1.1);
}
.logo-img {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  user-select: none;
}
.logo-img img {
  width: 25vw;
}
.options-container {
  display: none;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 13px;
  color: #fcf3dd;
  font-size: 9px;
  font-weight: bold;
  /* line-height: 5.1em; */
  text-wrap: nowrap;
  /* margin-bottom: 60%; */
}

@media (max-width: 600px) {
  .bg-video {
    display: none;
  }
  .bg-video-mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .options-container {
    display: flex;
    margin-top: 14vh;
    /* flex-direction: column; */
  }
  .coming-soon-img {
    width: 80vw;
    height: 13vh;
  }
  .coming-soon-img img {
    display: none;
    width: 80vw;
  }
  .subscribe-content {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 25vh;
  }
  .subscribe-title {
    font-size: 25px;
    font-weight: bold;
  }
  .subscribe-btn {
    font-size: 13px;
    padding: 4px 8px 4px 8px;
  }
  .logo-img img {
    width: 55vw;
    margin-bottom: 3vh;
  }
  .subscribe-btn-container {
    margin-top: 5px;
  }
  .subscribe-now-txt {
    color: #fcf3dd;
    font-size: 10px;
    margin-top: 5px;
    letter-spacing: 3px;
  }
  .company-title {
    font-size: 15px;
  }
  .top-content-container {
    margin-top: 31vh;
  }
}

@media (max-height: 600px) {
  .subscribe-title {
    font-size: 34px;
  }
  .subscribe-btn-container {
    margin-top: 0px;
  }
  .subscribe-content {
    margin-bottom: 0vh;
  }
}
